p09/spotify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Spotify">
        <xs:aplicacionType>
            <xs:sequence>
                <xs:element name="Cuenta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Nombre"/>
                            <xs:element type="xs:string" name="Correo"/>
                            <xs:element name="Telefono" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="tipo"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="required"/>
                        <xs:attribute type="xs:string" name="plan" use="required"/>
                        <xs:attribute type="xs:date" name="fechaIni"/>
                        <xs:attribute type="xs:date" name="fechaFin"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="version"/>
        </xs:aplicacionType>
    </xs:element>
</xs:schema>


