p09/spotify2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Spotify">
        <xs:aplicacionType>
            <xs:sequence>
                <xs:element name="Cuenta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Nombre"/>
                            <xs:element name="Correo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[a-z]+@[a-z]+\.[a-z]{2,3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element> 
                            <xs:element name="Telefono" minOccurs="0" maxOccurs="unbounded">
                                <xs:simpleType name="posiblesNum">
                                    <xs:restriction base="xsd:int">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                        <xs:enumeration value="4"/>
                                        <xs:enumeration value="5"/>
                                        <xs:enumeration value="6"/>
                                        <xs:enumeration value="7"/>
                                        <xs:enumeration value="8"/>
                                        <xs:enumeration value="9"/>
                                        <xs:enumeration value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                                <xs:simpleType name="listaNum">
                                    <xs:list itemType="posiblesNum"/>
                                </xs:simpleType>
                                <xs:simpleType name="Telefono">
                                    <xs:restriction base="listaNum">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="required"/>
                        <xs:attribute type="xs:string" name="plan" use="required"/>
                        <xs:attribute type="xs:date" name="fechaIni"/>
                        <xs:attribute type="xs:date" name="fechaFin"/>
                        <xs:attribute name="PlanType">
                            <xs:simpleType>
                                <xs:restriction base="xsd:string">
                                    <xs:enumeration value="Free"/>
                                    <xs:enumeration value="Premium"/>
                                    <xs:enumeration value="Familiar"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="version"/>
        </xs:aplicacionType>
    </xs:element>
</xs:schema>


